<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/csscommon.css">
    <link rel="stylesheet" href="/styles/validationCommon.css">
</head>
<body>
    <div class="validationHeader row contain-width">
        <div class="headerLogo col-lg-6 col-2 pt-3 ">
            <img src="/images/freshKartLogo/freshcart-logo.png" alt="">
        </div>       
    </div>

    <!-- Sign in Page -->
<div class="validation-form row contain-width mt-5 mb-5 align-items-center">
    <div class="sign-in-image col-lg-6 text-end">
        <img src="/images/validation/fp-g.png" alt="">
    </div>
    <div class="sign-in-content col-lg-6 col-md-6">
        <h2>Forgot your password?</h2>
        <p>Please enter the email address associated with your account and We will email you a OTP
            to reset your password.</p>
            <form action="/auth/forgotPassword" method="post">
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter your email" required name="email">
                  <span class="error-style" id="emailError"></span>
                </div>
                <button type="submit" class="btn btn-success submit-btn">Send Link</button>
                <button type="" class="btn btn-secondary back-btn ms-3">Back</button>
                <p class="error-style w-100 text-center" id="wrong-email-error"></p>
              </form>
    </div>
</div>
    <%-include('../partials/footer')%>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script src="/js/forgot-password.js"></script>
</body>
</html>